

.registration-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;
}

.logo-container2 {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 100;
}

.logo-container2 img {
    width: 100px;
    height: 100px;
}

.content-container-reg {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    width: 100%;
    margin-left: 100px;
    margin-top: 110px;
    margin-bottom: 100px;
}


.gray-box2 {
    width: 600px;
    height: 820px;
    background-color: #e5e5e5;
    border-radius: 8px;
    margin-left: 100px;
   
}

.img-box-reg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.img-box-reg img {
    max-width: 100%; 
    height: auto;
    border-radius: 8px; 
}


.registration-form {
    width: 450px;
    margin-left: 100px;
    margin-top: -50px;
}

.registration-form h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

.registration-form p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #6c757d;
}

form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

input,
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}



input::placeholder,
select {
    color: #bbb;
}

.gender-options {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 5px;
}

.gender-option {
    display: flex;
    align-items: center;
}

.gender-option input[type="radio"] {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 0;
}

.gender-option label {
    margin: 0;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.registration-form button {
    padding: 12px;
    background-color: #2e86de;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

.registration-form button:hover {
    background-color: #1e6abd;
}

.login-link {
    margin-top: 20px;
    text-align: center;
}

.login-link span {
    font-size: 16px;
    color: #6c757d;
}

.login-link-a {
    font-size: 16px;
    color: #2e86de;
    text-decoration: none;
    margin-left: 5px;
}

.login-link-a:hover {
    text-decoration: underline;
}